.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 0.9375rem 2.5rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 1.25rem;

    &:hover {
      transform: scale(1.05) translateY(-0.3125rem);
      box-shadow: 0 1.5625rem 2.5rem rgba($color-black, 0.5);
      z-index: 1;
      transition: all 0.2s;
      outline: 0.9375rem solid $color-primary;
    }

    &--p1 {
      left: 0;
      top: -1.25rem;
    }
    &--p2 {
      right: 0;
      top: 1.25rem;
    }
    &--p3 {
      left: 20%;
      top: 6.25rem;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
