body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-text;
    padding: 1.875rem;
  
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* hidden back part of the element */
    margin-bottom: 3.75rem;
  
    &--main {
      display: block;
      font-size: 3.75rem;
      font-weight: 700;
      letter-spacing: 2.8125rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      /* animation-iteration-count: 3; - how much time repeat */
      /* animation-delay: 3s; */
    }
  
    &--sub {
      display: block;
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 1.0875rem;
      animation: moveInRight 1s ease-out;
    }
  }

  .heading-secondary {
    font-size: 2.1875rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .125rem;

    &:hover {
      transform: skewY(2deg) skewX(2deg) scale(1.1);
      text-shadow: .3125rem .625rem 1.25rem rgba($color-black, .2);
    }
  }

  .heading-tertiary {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }